
<%= form_with(model: appli_detail, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if appli_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appli_detail.errors.count, "error") %> prohibited this appli_detail from being saved:</h2>

      <ul>
      <% appli_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :state, "ESTADO :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :state, id: :convocatory_state, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date , "Fecha :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
    <%= form.date_select :date, id: :appli_detail_date, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
    <%= form.label :convocatory_id , "Convocatoria :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
        <%= form.collection_select(:convocatory_id, Convocatory.all, :id, :title, {hide_label: true}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :person_id , "Persona :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
        <%= form.collection_select(:person_id, Person.all, :id, :name, {hide_label: true}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras', appli_details_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
  <% end %>
