<%= form_with(model: favorite, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :name, id: :favorite_name, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :acctionlink , "Link :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.select(:acctionlink, [['Favoritos', 'favorites_path'],
        ['Convocatorias', 'convocatories_path'],
        ['Capacitaciones', 'trainings_path'],
        ['Tipos de memorandum', 'memorandum_types_path'],
        ['Memorandum', 'memorandums_path']],
        {include_blank: "Selecciona.."}, {:class=>"form-control"})%>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :user_id , "User  :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.collection_select(:user_id, User.all, :id, :email, {hide_label: true}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras',favorites_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
<% end %>
