<p id="notice"><%= notice %></p>

<h1>Restaurar Base de Datos</h1>
<div class="ibox-content">
  <div class="table-responsive">
<%= form_with url: backup_restore_path , local: true, html: {class: "form-horizontal"} do |form| %>
<%= csrf_meta_tags %>
  <%= form.file_field :archive %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras', authenticated_root_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
