<p id="notice"><%= notice %></p>


                <div class="ibox-content">

                    <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example" >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Last name</th>
                      <th>Birthday</th>
                      <th>Sex</th>
                      <th>Ci</th>
                      <th>Address</th>
                      <th>Cellphone</th>
                      <th>User</th>
                      <th>Civil state</th>
                      <th colspan="1">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @people.each do |person| %>
                      <tr>
                        <td><%= person.name %></td>
                        <td><%= person.last_name %></td>
                        <td><%= person.birthday %></td>
                        <td><%= person.sex %></td>
                        <td><%= person.ci %></td>
                        <td><%= person.address %></td>
                        <td><%= person.cellphone %></td>
                        <td><%= person.user %></td>
                        <td><%= person.civil_state %></td>
                        <td><%= link_to 'Show', person %>
                        <%= link_to 'Edit', edit_person_path(person) %>
                        <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

                <br>

<h1>People</h1>


<%= link_to 'New Person', new_person_path %>
<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.dataTables-example').DataTable({
        pageLength: 25,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]

    });


});



</script>

<% end %>
