<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Perfil</h5>
        </div>
        <div class="ibox-content">
          <p id="notice"><%= notice %></p>

          <p>
            <strong>Nombre :</strong>
            <%= @person.name %>
          </p>

          <p>
            <strong>Apellido :</strong>
            <%= @person.last_name %>
          </p>

          <%= link_to 'Edit', edit_person_path(@person) %> |
          <%= link_to 'Back', auto_path %>
        </div>
    </div>
</div>
