<%= form_with(model: stock_category, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if stock_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock_category.errors.count, "error") %> prohibited this stock_category from being saved:</h2>

      <ul>
      <% stock_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :cellphone , "Nombre :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :name, id: :stock_category_name, class: "form-control"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras', stock_categories_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
<% end %>
