<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Stock</h5>
        </div>
        <div class="ibox-content">
            <p id="notice"><%= notice %></p>

            <p>
            <p>
              <div class="form-group">
              <strong>Buying date:</strong>
              <%= @stock.buying_date %>
            </div>
            </p>

            <p>
              <div class="form-group">
              <strong>Item name:</strong>
              <%= @stock.item_name %>
              </div>
            </p>

            <p>
              <div class="form-group">
              <strong>Quantity:</strong>
              <%= @stock.quantity %>
              </div>
            </p>

            <p>
              <div class="form-group">
              <strong>Stock category:</strong>
              <%= @stock.stock_category_id %>
              </div>
            </p>

            <%= link_to 'Editar', edit_stock_path(@stock), class:"btn btn-sm btn-white"  %>
            <%= link_to 'Volver', stocks_path, class:"btn btn-sm btn-white"  %>
          </div>
        </div>
      </div>
