<p id="notice"><%= notice %></p>

<p>
  <strong>Buying date:</strong>
  <%= @stock.buying_date %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @stock.item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Stock category:</strong>
  <%= @stock.stock_category_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
