<%= form_with(model: departament, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if departament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
      <% departament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :name, id: :departament_name, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras',departaments_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
  <% end %>
