<%= form_with(model: annunment, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if annunment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annunment.errors.count, "error") %> prohibited this annunment from being saved:</h2>

      <ul>
      <% annunment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= form.label :title, "Titulo :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :title, id: :annunment_title, class: "form-control"%>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :description, "Descripcion :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :descripcion, id: :annunment_descripcion, class: "form-control"%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status, "Estado :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :status, id: :annunment_status, class: "form-control"%>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :departament_id , "Departamento :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
        <%= form.collection_select(:departament_id, Departament.all, :id, :name, {hide_label: true}, class: "form-control") %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras', annunments_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>


<% end %>
