<%= form_with(model: user_training, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if user_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_training.errors.count, "error") %> prohibited this user_training from being saved:</h2>

      <ul>
      <% user_training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :state ,"Estado :",class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.text_field :state, id: :user_training_state, class: "form-control"%>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :training_id , "Capacitacion :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.collection_select(:training_id, Training.all, :id, :title, {hide_label: true}, class: "form-control") %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :user_id , "Usuario :" ,class: "col-lg-2 control-label"%>
    <div class="col-lg-10">
      <%= form.collection_select(:user_id, User.all, :id, :email, {hide_label: true}, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="actions">
        <%= form.submit "Guardar", class:"btn btn-sm btn-white" %>
        <%= link_to 'Atras', user_trainings_path , class:"btn btn-sm btn-white"%>
      </div>
    </div>
  </div>
<% end %>
