
<br>
<div class="ibox-content">
  <div class="table-responsive">
      <p id="notice"><%= notice %></p>
            <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
            <tr>
              <th>Quantity</th>
              <th>Stock</th>
              <th>Assignation stock</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
              <% @assign_details.each do |assign_detail| %>
              <tr>
                <td><%= assign_detail.quantity %></td>
                <td><%= assign_detail.stock_id %></td>
                <td><%= assign_detail.assignation_stock_id %></td>
                <td><%= link_to '<i class="fa fa-eye text-info"></i>'.html_safe, assign_detail %>
                    <%= link_to '<i class="fa fa-edit text-navy"></i>'.html_safe, edit_assign_detail_path(assign_detail) %>
                    <%= link_to '<i class="fa fa-trash text-danger"></i>'.html_safe, assign_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

        <%= link_to 'New Assign Detail',   new_assign_detail_path, class:"btn btn-sm btn-white btn-block" %>
</div>
<br>



<% content_for :javascript do %>

      <script type="text/javascript">
            $(function() {

                $('.dataTables-example').DataTable({
                    pageLength: 25,
                    responsive: true,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        { extend: 'copy'},
                        {extend: 'csv'},
                        {extend: 'excel', title: 'ExampleFile'},
                        {extend: 'pdf', title: 'ExampleFile'},

                        {extend: 'print',
                            customize: function (win){
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                        .addClass('compact')
                                        .css('font-size', 'inherit');
                            }
                        }
                    ]

                });
              });
  </script>
<% end %>
