<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                  <span>
                      <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                  </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                              <% if Person.find_by(user_id: current_user.id).present? %>
                                <strong class="font-bold"><%= Person.find_by(user_id: current_user.id).name %></strong>
                              <% else %>
                                <strong class="font-bold">Example user</strong>
                              <% end %>

                            </span> <span class="text-muted text-xs block">Menu<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to "Log out", destroy_user_session_path, :method => :get %></li>
                        <li>
                            <% if Person.find_by(user_id: current_user.id).present? %>
                              <%= link_to 'Perfil', edit_person_path(Person.find_by(user_id: current_user.id)) %>
                            <% else %>
                              <%= link_to new_person_path do %> <span class="nav-label">Perfil</span>
                              <% end %>
                            <% end %>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li >
              <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
              </ul>
            </li>
            <li >
              <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label">Usuario</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><a href="graph_flot.html">link</a></li>
                  <li><a href="graph_morris.html">link</a></li>
                  <li><a href="graph_rickshaw.html">link</a></li>
              </ul>
            </li>

            <li >
                <a href="#"><i class="fa fa-check-square"></i> <span class="nav-label">Roles Y Permisos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="">link</a></li>
                    <li><a href="">link</a></li>
                    <li><a href="">link</a></li>
                </ul>
              </li>
              <li >
              <a href="#"><i class="fa fa-fire"></i> <span class="nav-label">Prestamo Materiales</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li><%=link_to 'Stock Categoria', stock_categories_path %></li>
                  <li><%=link_to 'Stock', stocks_path%></li>
                  <li><%= link_to 'Asignacion Stock', assignation_stocks_path  %></li>
                  <li><%= link_to 'Asignacion Detalle', assign_details_path  %></li>
              </ul>

              <li >
                  <a href="#"><i class="fa fa-road"></i> <span class="nav-label">Gestion de Capacitaciones</span><span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level collapse">
                      <li><%= link_to 'Training', trainings_path %></li>
                      <li><%= link_to 'User Training', user_trainings_path %></li>
                  </ul>
                </li>

                <li >
                    <a href="#"><i class="fa fa-copy"></i> <span class="nav-label">Bitacora</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                          <li><%= link_to 'Bitacora', logs_index_path %></li>
                    </ul>
                  </li>

              <li >

                <li >
                    <a href="#"><i class="fa fa-ioxhost"></i> <span class="nav-label">Convocatirias</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                          <li><%= link_to 'Departamentos', departaments_path %></li>
                          <li><%= link_to 'Designacion', designations_path %></li>
                          <li><%= link_to 'Convocatoria', annunments_path %></li>
                          <li><%= link_to 'Detalle de Aplicacion', appli_details_path %></li>
                          <li><%= link_to 'Convocatoria', convocatories_path %></li>
                          <li><%= link_to 'Evaluacion Tecnica', tecnic_evaluations_path %></li>
                          <li><%= link_to 'Evaluacion Psicologica', psicologic_evaluations_path %></li>
                    </ul>
                  </li>

              <li >
                  <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Bakup y Restore</span><span class="fa arrow"></span></a>

                  <ul class="nav nav-second-level collapse">
                      <li><%= link_to 'Descargar Archivo de Backup',backup_index_path, :method=> :post , class:"fa fa-cloud-download"%></li>
                  </ul>
                </li>
            </li>
        </ul>

    </div>
</nav>
