<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
<<<<<<< HEAD
                <%= link_to "Log out", destroy_user_session_path, :method => :delete, class:"fa fa-sign-out" %>
=======
                <%= link_to "Log out", destroy_user_session_path, :method => :get %>
>>>>>>> 0419bd5956bb5a46ff511f7d283ca40e620fd2a8
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-star"></i>  <span class="label label-primary"><%= current_user.favorite.count%></span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="">
                            <div>
                                 Mis Favoritos
                                <span class="pull-right text-muted small"></span>
                            </div>
                        </a>
                    </li>

                    <li class="divider">
                    </li>
                        <% current_user.favorite.each do |fav| %>
                        <li>
                            <div>

                                <i class="fa fa-star fa-fw"></i>
                                <%= link_to fav.name , send(fav.acctionlink) %>
                            </div>

                        </li>
                        <li class="divider">
                        <% end %>
                      </li>
                    <li>
                        <div class="text-center link-block">
                          <%= link_to 'Mostrar Favoritos',favorites_path %>
                          <i class="fa fa-angle-right"></i>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
